

.action-delete {
    cursor: pointer;
}

.App {
    padding: 30px 50px 50px;
}

.list-group-item {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.2rem;
}

.Complete {
    color: lightblue;
}

.Incomplete {
    color: firebrick;
}


.Spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
}

.is-loading {
    opacity: 0.5;
}

.toolbar-action {
    float: right;
}

.toolbar-action span {
    cursor: pointer;
    margin: 0 10px;
}

.toolbar-action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}